body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #ffffff;
}
.bg-2 { 
  background-color: #4f5c77; /* Dark Blue */
  color: #ffffff;
}
.bg-3 { 
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
iframe {
  margin-left:auto;
  margin-right:auto;
  width:50%;
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}
    
/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
/* On small screens*/
/*set height to 'auto' for sidenav and grid */
/*set width of iframe video to take up the whole width*/
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
  iframe{
    width:100%;
  }
}
.tab-content{
  margin-left:auto;
  margin-right:auto;
  height:100%;
}
div.panel-default{
  padding:0;
  margin-left:auto;
  margin-right:auto;
}
/*decrease size of icons in the footer */
li > a > img {
  height:48px;
}
.title{
  background-image:linear-gradient(#555,#f1f1f1);
  padding:5px;
}
div.find-me img {
  height:150px;
  margin-left:auto;
  margin-right:auto;
}