<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Black Cat | Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Paul "The Black Cat" Littleton</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="#">Boxing</a></li>
        {% if 'id' in session %}
        <li><a href="/my_account">Welcome, {{session.first_name}}</a></li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login_register/0">Login | Create Account</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid bg-2">

    <div class="col-sm-12 bg-3">
      <h4><small>RECENT POSTS</small></h4>
      <hr>
      <h2>Officially Blogging</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Paul Littleton, Oct 03, 2019.</h5>
      <h5><span class="label label-success">Lorem</span></h5><br>
      <p>Melissa and I are making plans!  I'd like to get a few more professional fights under my belt over the next several months.  Goal is to have a 12-0 record by February 2020! The fights will help Melissa and I gain net worth and credibility for when we open our own gym next year.  Lots to do to get ready. Thanks for all your support pals!</p>
      <hr>

      <h4>Leave a Comment:</h4>
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      <br><br>
      
      <p><span class="badge">2</span> Comments:</p><br>
      
      <div class="row">
        <div class="col-sm-2 text-center">
          <img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>Klover <small>Oct 03, 2019 9:12 PM</small></h4>
          <p>Keep up the GREAT work! I am cheering for you!!</p>
          <br>
        </div>
        <div class="col-sm-2 text-center">
          <img src="{{url_for('static',filename='img/puma-silhouette-banner.jpg')}}" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>True <small>Oct 03, 2019, 8:25 PM</small></h4>
          <p>I am so happy for you man! Don't forget to think of me when you make it big!</p>
          <br>
          <p><span class="badge">1</span> Comment:</p><br>
          <div class="row">
            <div class="col-sm-2 text-center">
              <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
            </div>
            <div class="col-xs-10">
              <h4>Klover <small>Oct 03, 2019, 8:28 PM</small></h4>
              <p>Me too! WOW!</p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <div class="row">
    <ul class="col-sm-12 nav navbar-nav navbar-right">
        {% if 'id' in session %}
        <li><a href="/my_account">My Account</a></li>
        <li><a href="/logout">Logout</a></li>
      {% else %}
        <li><a href="/login-register/0">Login | Create Account</a></li>
      {% endif %}
      <li><a href="https://www.facebook.com/melissa.manktelow/media_set?set=a.10217298506707084&type=3"><img src="{{url_for('static',filename='img/fb-icon.jpg')}}" alt="facebook"></a></li>
      <li><a href="https://twitter.com/mlittleton2"><img src="{{url_for('static',filename='img/twitter-icon.png')}}" alt="twitter"></a></li>
      <li><a href="https://www.instagram.com/mlittleton2/"><img src="{{url_for('static',filename='img/ig-icon.jpg')}}" alt="instagram"></a></li>
      <li><a href="https://www.linkedin.com/in/melissa-littleton-15287b45/"><img src="{{url_for('static',filename='img/linkedin-icon.png')}}" alt="linkedin"></a></li>
    </ul>
  </div>
</footer>

</body>
</html>